.userDetail {
  .detail {
    .handle {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      font-size: 30px;
    }
  }
  .callUser {
    button {
      border-radius: 10px;
      width: 60px;
      height: 40px;
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
