.onlineUsers {
  padding-top: 35px;
  padding: 11px 0 14px 0;
  overflow: hidden;
  z-index: 100;
  ul {
    margin: auto;
    width: 380px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 0px 0 50px;
  }
  li {
    margin: 10px;
    cursor: pointer;
    .item {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      font-size: 30px;
    }
    .online {
      width: 15px;
      height: 15px;
      border-radius: 100%;
      border: 1px solid #36ff9f;
      background-color: white;
    }
  }
}
